.Root {
  border-radius: var(--radius-max);
  height: 45px;
  border: none;
  background-color: var(--color-blue);
  color: var(--color-white);
  transition: 0.1s background-color ease-in-out;

  &:hover {
    background-color: var(--color-blue-dark);
  }
}

.white {
  background-color: var(--color-white);
  color: var(--color-black);

  &:hover {
    color: var(--color-blue);
    background-color: var(--color-grey-light);
  }
}

.grey {
  color: var(--color-black);
  background-color: var(--color-grey-light);
  &:hover {
    color: var(--color-white);
    // background-color: var(--color-grey-light);
  }
}
