.Footer {
  height: 300px;
  background-color: var(--color-black);
  display: flex;
  padding: 30px;

  &_wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    max-width: 1400px;
    justify-content: flex-end;

    & > :nth-child(1n) {
      min-width: 180px;
      margin-left: 80px;
    }
  }
}

.Logo {
  cursor: pointer;
}

.List {
  & > :nth-child(1n) {
    margin-top: 8px;
    cursor: pointer;
    color: var(--color-white);
    width: fit-content;
    &:hover {
      text-decoration: underline;
    }
  }
}
