.HeadBar {
  background-color: var(--color-blue);
  color: var(--color-white);
  width: 100%;
  height: var(--height-bar);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.Logo {
  min-width: 250px;
  & > :nth-child(1) {
    width: fit-content;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.LoginSection {
  min-width: 250px;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.Login {
  display: flex;
  & > :nth-child(1) {
    margin-right: 10px;
  }
}

.List {
  display: flex;
  justify-content: space-between;
  width: 700px;
  & > :nth-child(1n) {
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    width: fit-content;
    border-radius: var(--radius-max);
    &:hover {
      background-color: var(--color-hover);
    }
  }
}

@media screen and (max-width: 1200px) {
  .HeadBar {
    &_isMobile {
      height: var(--height-bar-mob);
    }
  }
  .List {
    display: none;
  }
}
