.TextInput {
  max-width: 700px;
  height: 40px;
  border-radius: var(--radius-max);
  padding: 0 20px;

  font-size: 16px;
}

.rightSection {
  padding-right: 30px;
}

.grey {
  border: var(--color-grey) solid 1px;
}

.default {
  border: none;
}
