.ProductList {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1400px;
}

.Product {
  padding: 30px;
  display: flex;
  background-color: var(--color-white);
  width: 330px;
  height: 510px;
  margin: 20px;
  border-radius: var(--radius-medium);
}
